* {
    font-family: sans-serif;
}

header {
    background-color: #1B681A;
}

header .menu-list, header .logo, header .search-button {
    display: inline-block;
}

header .menu-list ul li {
    display: inline-block;
    list-style-type: none;
}

header .menu-list ul li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}

header .logo img{
    width: 250px;
    height: 55px;
}

header .search-button{
    
}
header .search-button p{
    border-radius: 50%;
    line-height: 0px;
    width: 25px;
    height: 25px;
    background-color: white;

}
